.pico-background-bg {
	height: 700px;
	margin-top: 100px;
}

.pico-background-sm {
	padding: 0;
	margin: 100px 0 95px;
	min-height: 325px;
}

.pico-home {
	@include vendor-prefix(background-size, cover);
	background: #909090 url("../img/home@2x.jpg") no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.pico-about {
	@include vendor-prefix(background-size, cover);
	background: #909090 url("../img/about@2x.jpg") no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.pico-product {
	@include vendor-prefix(background-size, cover);
	// @extend %pico-background-sm;
	background: #909090 url("../img/pico-home.jpg") no-repeat fixed;
	
}

.pico-genomics {
	@include vendor-prefix(background-size, cover);
	// @extend %pico-background-sm;
	background: #909090 url("../img/pico-about.jpg") no-repeat fixed;
	
}

.pico-imaging {
	@include vendor-prefix(background-size, cover);
	// @extend %pico-background-sm;
	background: #909090 url("../img/pico-about.jpg") no-repeat fixed;
	
}

.pico-neurology {
	@include vendor-prefix(background-size, cover);
	// @extend %pico-background-sm;
	background: #909090 url("../img/pico-about.jpg") no-repeat;
}

.pico-resources {
	@include vendor-prefix(background-size, cover);
	// @extend %pico-background-sm;
	background: #909090 url("../img/pico-about.jpg") no-repeat;
}