.pico-background-bg {
	height: 800px;
	margin-top: 100px;
}

%pico-background-sm {
	padding: 0;
	margin-top: 100px;
	height: 325px;
}

.pico-home {
	@include vendor-prefix(background-size, cover);
	background: #909090 url("../img/home@2x.jpg") no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.pico-about {
	background: #909090 url("../img/about@2x.jpg") no-repeat;
	@extend %pico-background-sm;
	@include vendor-prefix(background-size, cover);
}

.pico-product {
	@extend %pico-background-sm;
	background: #909090 url("../img/home.jpg") no-repeat;
	@include vendor-prefix(background-size, cover);
	
}

.pico-genomics {
	background: #909090 url("../img/genomics@2x.jpg") no-repeat;
	@extend %pico-background-sm;
	@include vendor-prefix(background-size, cover);
	
}

.pico-imaging {
	background: #909090 url("../img/imaging@2x.jpg") no-repeat;
	@include vendor-prefix(background-size, cover);
	@extend %pico-background-sm;
}

.pico-neurology {
	background: #909090 url("../img/neurology@2x.jpg") no-repeat;
	@include vendor-prefix(background-size, cover);
	@extend %pico-background-sm;
}

.pico-resources {
	background: #909090 url("../img/resources@2x.jpg") no-repeat;
	@include vendor-prefix(background-size, cover);
	@extend %pico-background-sm;
}

.pico-team {
	background: #909090 url("../img/team@2x.jpg") no-repeat;
	@include vendor-prefix(background-size, cover);
	@extend %pico-background-sm;
}

.pico-technology {
	background: #909090 url("../img/technology@2x.jpg") no-repeat;
	@include vendor-prefix(background-size, cover);
	@extend %pico-background-sm;
}