.pico-background-bg {
	height: 800px;
	margin-top: 100px;
}

%pico-background-sm {
	padding: 0;
	margin: 100px 0 95px;
	min-height: 325px;
}

.pico-home {
	@include vendor-prefix(background-size, cover);
	background: #909090 url("../img/home@2x.jpg") no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.pico-about {
	background: #909090 url("../img/about@2x.jpg") no-repeat fixed;
	@extend %pico-background-sm;
	@include vendor-prefix(background-size, cover);
}

.pico-product {
	@extend %pico-background-sm;
	background: #909090 url("../img/pico-home.jpg") no-repeat fixed;
	@include vendor-prefix(background-size, cover);
	
}

.pico-genomics {
	@extend %pico-background-sm;
	background: #909090 url("../img/genomics@2x.jpg");
	@include vendor-prefix(background-size, cover);
	height: 400px;
	
}

.pico-imaging {
	
	background: #909090 url("../img/imaging@2x.jpg") no-repeat fixed;
	// @extend %pico-background-sm;
	@include vendor-prefix(background-size, cover);
}

.pico-neurology {
	@extend %pico-background-sm;
	background: #909090 url("../img/neurology@2x.jpg") no-repeat;
	@include vendor-prefix(background-size, cover);
}

.pico-resources {
	
	@extend %pico-background-sm;
	background: #909090 url("../img/resources@2x.jpg") no-repeat;
	@include vendor-prefix(background-size, cover);

	// mixin HAS TO COME AFTER image or else it won't work. 
}