footer.jumbotron {
	margin-top: 50px; 
	padding-bottom: 100px;
	background: $pico-gray-light;

}

.footer {
	font-family: $alt-font-family-sans-serif;

	a {color: $black;}
	ul {
		padding: 0;
		margin: 0;
	}
	li {
		list-style: none;

		a {
			display: inline-block;
			margin: 5px 0;
			font-size: (16px);
		}
	}
		

	&-section-title {
		display: inline-block;
		margin-bottom: 40px;
		font-size: em(20px);
		text-transform: uppercase;
	}
	p { 
		font-size: em(16px); 
		font-weight: 400;
		line-height: 2;
	}
}