#page-main {
	.page-title {
		text-align: left;
		font-weight: 900;
	}

	.team-members {
		margin-top: 90px;
		margin-bottom: 75px
	}

	.team-photo {
		margin-bottom: 40px;
	}

	.mission-statement {margin: 50px 0;}

	.product-headline,
	.team-name {
		@extend .font-24;
		@extend .reg-400;
		margin-bottom: 15px;
		color: $pico-blue;

	}

	.page-products p,
	.team-position {
			@extend .reg-400;
			font-size: $font-size-base;
	}

	.address {margin-bottom: 70px;}

	.page-products img {
		height: 175px;
		margin-bottom: 25px;
	}
}




