.main-nav {
	padding: 15px;
	background: $white;
	// border-bottom: 0;
}

.navbar-brand {
	float: left;
	padding: 14px 15px;
	font-size: none;
	line-height: none;
	height: auto;
	width: 250px;

	img {width: 100%;}
}

