img {display: block; margin: auto;}

.address {
	margin-bottom: 50px;
	text-align: center;

	span {
		display: block;
		margin-bottom: 20px;
		line-height: 1;
		font-size: em($font-size-24);
		font-weight: $font-weight-300;	
	}
	
	p {
		margin-top: 50px;
		font-family: $font-family-sans-serif;
		font-size: em($font-size-base);
		font-weight: $font-weight-400;
		color: $pico-blue;
	}
}