

.modal-content {
	font-family: $font-family-sans-serif;
	font-weight: 300;
	overflow: hidden;

	.modal-header {background: $pico-gray-light;}
	.modal-title {font-weight: 300;}
	label {
		font-size: em(14px);
		font-weight: 300;
	}

	.file-upload-group {

		.btn-upload {
			padding: 7px 20px;
			font-weight: 300;
			font-size: 14px;
			background: $pico-gray-light;
			
		}
		
		.btn:hover {
			border-color: #cccccc;
		}
		
		.upload-icon {
			top: -1px;
			margin-right: 10px;
			font-size: em(12px);
			color: #666666;
		}

	}
}

// .modal-title {
// 	font-weight: 300;
// }