#page-neurology {
	.features p {line-height: 1.5;}
	.jumbtron-bg {background-color: #cecece;}
	ul {
		padding: 15px;
		font-size: em($font-size-24);
		color: $white;

		li {
			margin: -5px 0;
		}
	}

}



// .gray-bg {background-color: #cecece;}