#page-neurology {
	.features {
		.pico-feature {
			img {height: 85px;}
			p {
				font-size: em(24px);
				font-weight: 300;
				color: $white;
			}

			}
		p {line-height: 1.5; }
	}
	.jumbtron-bg {background-color: #cecece;}
	ul {
		padding: 15px;
		font-size: em($font-size-24);
		color: $white;

		li {
			margin: -5px 0;
			list-style: disc;
		}
	}

}



// .gray-bg {background-color: #cecece;}