#page-products {
	
	.jumbotron {
		background: $pico-gray-dark;
		p {color: $white;}
	}
	.pico-component  {
		img {margin: 50px auto 25px;}
		h1 {
			color: $pico-blue;
			margin-bottom: 20px;
		}
		
	}


	.icon,
	path { @include vendor-prefix(transition, all 300ms ease);}
	
	.icon {
		@include vendor-prefix(transition, all 300ms ease);
		@include vendor-prefix(transform-origin, center center);
		@include vendor-prefix(transform, scale(1));
		position:relative; 
		z-index:10; 


		> path { 
			fill: #5e5e5e; 
			stroke-width:5px; 
			stroke: #5e5e5e; 
		}

		&:hover {@include vendor-prefix(transform, scale(1.25));}
		&:hover ~ path {opacity: 0.2 !important;}
		&:hover > path { 
			fill:#ff9900 !important; 
			opacity: 1 !important; 
			stroke:#ff8800 ; 
		}
		&:hover > g, 
		&:hover > g > path { pointer-events:none; } //otherwise hovers get interfered with
		&:hover > g > path { fill: #fff !important; }
	}
}