@font-face {
	font-family: 'icomoon';
	src:url('icomoon.eot?-rgnzcj');
	src:url('icomoon.eot?#iefix-rgnzcj') format('embedded-opentype'),
		url('icomoon.woff?-rgnzcj') format('woff'),
		url('icomoon.ttf?-rgnzcj') format('truetype'),
		url('icomoon.svg?-rgnzcj#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-growth:before {
	content: "\e600";
}
.icon-person:before {
	content: "\e601";
}
.icon-team:before {
	content: "\e602";
}
.icon-rocket:before {
	content: "\e603";
}
.icon-idea:before {
	content: "\e604";
}
