html,
body {height:100%;}

body {
	font-size: $font-size-base;
	line-height: 1.5;
	font-size: $font-size-base;
}

p {
	line-height: 2; 
	font-weight: 300; 
	margin-bottom: 25px;
}

div[id^=page-] {
	margin-top: 120px;
	// margin-bottom: 100px;
}

section[class^=page-] {
	margin-bottom: 50px;
	&:last-of-type {margin-bottom: 0;}
}
.bl-md {display: block; margin: inherit auto;}