.pico-about {
	background: #909090 url("../img/about@2x.jpg") no-repeat;
	@extend %pico-background-sm;
	@include vendor-prefix(background-size, cover);
	// height: 325px;
}

#page-about {
	
	.pico-logo {
		display: inline-block;
		height: 100px;
	}

	.mission-headline {
		@extend .reg-400;
		color: $pico-orange;
	}

	.page-inspiration {
		margin-top: 100px;
		margin-bottom: 125px;
		ul {
			display: inline-block;
			padding: 0;
			margin: 0;
			font-family: $font-family-sans-serif;

			li {
				font-weight: 400;
				list-style: none;
				margin-bottom: 15px;

			}
			.ss-icon {
				font-size: 1.150em;
				color: $pico-gray-dark;
				&:hover {
					@include vendor-prefix(transition, all 300ms ease);
					color: darken($pico-gray-mid, 10%);
					text-decoration: none;
				}
			}
		}
	}
	

	.btn {margin-top: 30px;}


	.mission-col {
		margin-top: 50px;
		h2 {margin-bottom: 20px;}
	}
}
