.pico-about {
	background-image:url("../img/about.jpg");
	background-position: center;
	background-repeat: no-repeat;
	-ms-behavior: url("/backgroundsize.min.htc");
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.../img/about.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/about.jpg', sizingMethod='scale')";
	@include vendor-prefix(background-size, cover);
	@include bg(100%,325px);
}

#page-about {
	.page-container {
		position: relative;
		height: 325px;
		padding: 0;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}
		.page-title {
			position: relative;
			z-index: 10;
		}
	}
	
	.pico-logo {
		display: inline-block;
		height: 100px;
	}

	.mission-headline {
		@extend .reg-400;
		color: $pico-orange;
	}

	.page-inspiration {
		margin-top: 100px;
		margin-bottom: 125px;
		ul {
			display: inline-block;
			padding: 0;
			margin: 0;
			font-family: $font-family-sans-serif;

			li {
				font-weight: 400;
				list-style: none;
				margin-bottom: 15px;

			}
			.ss-icon {
				font-size: 1.150em;
				color: $pico-gray-dark;
				&:hover {
					@include vendor-prefix(transition, all 300ms ease);
					color: darken($pico-gray-mid, 10%);
					text-decoration: none;
				}
			}
		}
	}
	

	.btn {margin-top: 30px;}


	.mission-col {
		margin-top: 50px;
		h2 {margin-bottom: 20px;}
	}
}