.pico-imaging {
	background-image:url("../img/imaging.jpg");
	background-position: center;
	background-repeat: no-repeat;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.../img/imaging.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/imaging.jpg', sizingMethod='scale')";
	@include vendor-prefix(background-size, cover);
	@include bg(100%,325px);
}

@media (max-width: $screen-xs-max) { 

	.rounded-lg {
		width: 260px !important;
		text-align: center;
	}
	.section-header.txt-l {text-align: center !important;}
	.section-header.txt-r {text-align: center !important;}
}

