.pico-home {
	background-image: url("../img/home.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	margin-top: 135px;
	@include vendor-prefix(background-size, cover);
	@include vendor-prefix(transform, rotateZ(360deg));
	@include bg(100%, 800px);
}


.main-nav.shrink + #page-main  {
	margin-top: 50px;
	.pico-background-bg {margin-top: 75px;}
}



.pico-home {
	width: 100%;
}



#page-main {
	.page-title {
		margin-top: 250px;
		text-align: left;
		font-weight: 900;
	}
	.team-members {
		margin-top: 90px;
		margin-bottom: 75px
	}
	.team-photo {
		margin-bottom: 40px;
	}

	.mission-statement {margin: 50px 0;}

	.product-headline,
	.team-name {
		@extend .font-24;
		@extend .reg-400;
		margin-bottom: 15px;
		color: $pico-blue;
	}

	.page-products p,
	.team-position {
			@extend .reg-400;
			font-size: $font-size-base;
	}
	.address {margin-bottom: 70px;}
	.page-products img {
		height: 175px;
		margin-bottom: 25px;
	}
	.google-map {margin-bottom: 0;}
	.page-address {
		margin: 0 auto 85px;
		.address {
			margin:0;

			span:last-child {margin-bottom: 0;}
		}
	}

	@media (max-width: $screen-xs-max) { 
		.pico-home {
			@include vendor-prefix(background-size, 100%);
			max-height: 400px;
			background-attachment: scroll;
			.page-title {
				margin-top: 100px;
				font-size: em(36px);
				line-height: 1.5;
			}
		}
		.page-title {
			font-size: em(40px) !important;	
		}
	 	.team-member {margin-bottom: 30px;}
	 	.team-photo {margin-bottom: 10px;}
	}

	@media only screen and (min-device-width : 320px) and (max-device-width : 568px) { 
		.pico-home {
			height: 200px;
			.page-title {
				font-size: em(24px) !important; 
				margin-top: 0;
				line-height: 1.5;
			}
			a {display: none;}
		}
	}
}




