#page-products {
	.motivation, .sdk {
		p {font-weight: 400;}
	}
	.jumbotron {
		background: $pico-gray-dark;
		p {color: $white;}
	}
	.pico-component  {
		img {margin: 50px auto 25px;}
		h1 {
			margin-bottom: 20px;
			font-size: em(30px);
			font-weight: 300;
			color: $pico-blue;
		}
		p {font-weight: 300; text-align: left;}
		
	}

	.svg-container {
		display: block;
		height: 900px;
		margin: auto;

		svg {width: 100%;}
		.icon,
		path { @include vendor-prefix(transition, all 300ms ease);}
		
		.icon {
			@include vendor-prefix(transition, all 300ms ease);
			@include vendor-prefix(transform-origin, center center);
			@include vendor-prefix(transform, scale(1));
			position:relative; 
			z-index:10; 
			> path { 
				fill: #5e5e5e; 
				stroke-width:5px; 
				stroke: #5e5e5e; 
			}

			// &:hover {
				// @include vendor-prefix(transform, scale(1.25));}
			&:hover ~ path {opacity: 0.2 !important;}
			&:hover > path { 
				fill: $pico-orange !important; 
				opacity: 1 !important; 
				stroke: darken($pico-orange, 10%) ; 
			}
			&:hover > g, 
			&:hover > g > path { pointer-events:none; } //otherwise hovers get interfered with
			&:hover > g > path { fill: #fff !important; }
		}
	}
	




	



}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
			.svg-container > svg {
				margin-top: -75px;
			}


		
	}