.pico-resources {
	background: #909090 url("../img/resources.jpg") no-repeat;
	background-position: center;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.../img/resources', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/resources', sizingMethod='scale')";
	@include vendor-prefix(background-size, cover);
	@include bg(100%,325px);
}
#page-resources {
	.section-header {margin-bottom: 75px;}
	.questions {
		h2 {
			font-weight: 700;
			font-size: em(22px);
		}
		span {
			font-size: em(22px);
			font-weight: 700;
			color: $pico-orange;
			text-transform: uppercase;
		}
	}
	.pico-reading {
		padding: 0;
		li {
			list-style: none;
			padding: 20px 0;
			
		}
		li a {font-size: em(24px);}
	}

	img {
		max-width: 300px;
		display: block;
		margin: auto;
	}

}