.pico-technology {
	background: #909090 url("../img/technology.jpg") no-repeat;
	@include vendor-prefix(background-size, cover);
	@extend %pico-background-sm;
}

#page-technology {
	.pico-benefits {
		text-align: center;
		li {
			position: relative;
			margin: 60px 0;
			font-size: em(24px);
			list-style: none;

			&:after {
				content: "•";
				position: absolute;
				left: 0;
				right: 0;
				bottom: -45px;
				color: $pico-orange;
				text-align: center;
			}

			&:last-child:after {
				content: "";
			}
		}
	}

	.timeline {
		height: 100%;
		position:relative;

		&:after {
			content:"";
	    position: absolute;
	    z-index: -1;
	    top: 0;
	    bottom: 0;
	    left: 50%;
	    border-left: 2px solid $black;
		}
		
		ul {
			padding: 75px 0 0;
			overflow: hidden;
		}

		.timeline-block-left,
		.timeline-block-right {
			clear: both;
			&:before{
				content: "";
				position: absolute;
				top: 80px;
				width: 20px;
				height: 20px;
				background: $pico-orange;
				border-radius: 50%;
				z-index: 1;
			}
			&:after {
				content: "";
				position: absolute;
				display: inline-block;
				top: 90px;
				border-top: 2px solid #010101;
				width: 95px;
			}
		}


		.timeline-block-left {
			float: left;
			&:before {right: -40px;}
			&:after  {right: -134px;}
		}
		.timeline-block-right {
			float: right;
			&:before {left: -40px;}
			&:after  {left: -134px;}
		}
	}
	.timeline-block {
		position: relative;
		display: inline-block;
		h1 {
			font-size: em(24px);
			color: $pico-orange;
		}
	}
	.timeline-icon {
		display: inline-block;
		width: 175px;
		height: 175px;
		margin-bottom: 25px;
		background: $pico-gray-dark;
		border-radius: 50%;
		line-height: 175px;

		.icon {
			font-size: em(100px);
			line-height: 175px;
			color: $white;
		}
	}



	@media (max-width: $screen-xs-max) { 
	.pico-benefits li {font-size: em(20px);}
	}
}