.pico-technology {
	background-image:url("../img/technology.jpg");
	background-position: center;
	background-repeat: no-repeat;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.../img/technology.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/technology.jpg', sizingMethod='scale')";
	@include vendor-prefix(background-size, cover);
	@include bg(100%,325px);
}

#page-technology {
	.pico-benefits {
		text-align: center;
		li {
			position: relative;
			margin: 60px 0;
			font-size: em(24px);
			list-style: none;

			&:after {
				content: "•";
				position: absolute;
				left: 0;
				right: 0;
				bottom: -45px;
				color: $pico-orange;
				text-align: center;
			}

			&:last-child:after {
				content: "";
			}
		}
	}

	.timeline-block {
		position: relative;
		display: inline-block;
		h1 {
			font-size: em(24px);
			color: $pico-orange;
		}
	}
	.timeline-icon {
		display: inline-block;
		width: 175px;
		height: 175px;
		margin-bottom: 25px;
		background: $pico-gray-dark;
		border-radius: 50%;
		line-height: 175px;
		text-align: center;

		.icon {
			font-size: em(100px);
			line-height: 175px;
			color: $white;
		}
	}

	.timeline-info {
		width: 50%;
		margin: auto;
		p {
			line-height: 1.5;
			margin-top: 10px !important;
		}
	}

	.timeline-block {
		margin-top:2em;
		background-image:url("dot.svg");
		background-repeat:repeat-y;
		background-position:center;
		position:relative;
		&:after {
			content:"";
	    position: absolute;
	    z-index: -1;
	    top: 0;
	    bottom: 0;
	    left: 50%;
	    border-left: 2px solid $black;
		}
	}

	.timeline, .timeline-item {
		display: block;
		list-style: none;
	}

	.timeline {overflow: hidden;}

	.timeline-item-block {
		display: block;
		margin: auto;
		text-align: center;
		&:after {
			content: "";
			border-top: 1px solid red;
		}
	}


	.timeline-item-minor {
		clear:both;
		// position:relative;
		

		&.left {
			float:left;
			position: relative;
			&:before,
			&:after {
				content: "";
				position: absolute !important;
				display: block;
			}
			&:before {
				border-top: 1px solid $black;
				float:none; 
				clear:both; 
				width: 15%;
				top: 50%;
				right: 15px;
			}
			&:after {
				@include vendor-prefix(border-radius, 50%);
				display:block; 
				float:none; 
				clear:both; 
				height: 15px;
				width: 15px;
				background: $pico-orange;
				top: 48%;
				right: 15%;
				z-index: 10;
			}

		}
		&.right {
			float:right;
			position: relative;
			&:before,
			&:after {
				content: "";
				position: absolute !important;
				display: block;
			}
			&:before { 
				border-top: 1px solid $black;
				float:none; 
				clear:both; 
				width: 15%;
				top: 50%;
			}
			&:after {
				@include vendor-prefix(border-radius, 50%);
				display:block; 
				float:none; 
				clear:both; 
				height: 15px;
				width: 15px;
				background: $pico-orange;
				top: 48%;
				left: 15%;
				z-index: 10;
			}
		}
	}
	@media (max-width: $screen-xs-max) { 
		.pico-technology {
			// @include vendor-prefix(background-size, 100%);
			// -webkit-background-size: 100% !important;
			// height: auto;
		}
		.timeline-block:after {border-width: 1px;}
		
		.left  {
			float: none;
			&:before,
			&:after {
				content: "";
				// display: none !important;
			}
		}
		.right {
			float: none;
			&:before,
			&:after {
				content: "";
				// display: none !important;
			}
		}
	}

	@media only screen and (min-device-width : 320px) and (max-device-width : 568px) { 
		.pico-technology {
			// height: auto;

			.page-title {
				font-size: em(36px) !important; 
				margin-top: 40px;
				line-height: 1.5;
			}
		}



		.timeline-block:after {display: none;}
		
		.left  {
			float: none;
			&:before,
			&:after {
				content: "";
				display: none !important;
			}
		}
		.right {
			float: none;
			&:before,
			&:after {
				content: "";
				display: none !important;
			}
		}
	}

	






}