img {display: block; margin: auto;}

.address {
	margin-bottom: 50px;
	text-align: center;

	span {
		display: block;
		margin-bottom: 20px;
		line-height: 1;
		font-size: em($font-size-24);
		font-weight: $font-weight-300;	
	}
	
	p {
		margin-top: 50px;
		font-family: $font-family-sans-serif;
		font-size: em($font-size-base);
		font-weight: $font-weight-400;
		color: $pico-blue;
	}
}

	.rounded,
	.rounded-lg {
		display: inline-block;
		margin-bottom: 50px;
		border-radius: 50%;
	}

	.rounded 		{width: 175px;}
	.rounded-lg {width: 360px;}
	.rounded-xl {width: 100%; max-width: 900px;}

	.quote {color: $pico-blue;}


	.txt-l {
		text-align: left;
	}

		.txt-r {
		text-align: right;
	}

	.pico-feature img,
	.pico-component img {
		height: 85px;
	}

	.img-main {
		margin-bottom: 50px;
		width: 390px;
	}

	.page-headline {padding-top: 75px;}

	#mce-response {
	margin-top: 10px;
	font-size: em(16px);
}